<h1>Homepage</h1>
<div id="container">
    <div id="drawing-album">
    {{#if drawings}}
        <div id="overlay">
            <img id="expanded-img" src="" alt="">
        </div>
        {{#each drawings}}
                <figure class="drawing-card">
                    <img class="drawing" src="{{url}}" alt="user drawing of {{word}}">
                    <figcaption>{{word}}, {{creator.username}}</figcaption>
                </figure>
        {{/each}}
    {{else}}
        No drawings found.
    {{/if}}
    </div>
</div>
<script src="/js/home.js"></script>
