<h2>Your drawings</h2>

<div id="container">

    <a href="/user/settings" id="settings-link">Account details</a>

    <div id="drawing-album">
        <div id="overlay">
            <img id="expanded-img" src="" alt="">
            <a id="download-link" href="" download="">download</a>
        </div>
        {{#each userDrawings}}
            <div class="drawing-card">
                <figure>
                    <img class="drawing-small" src="{{url}}" alt="Drawing of {{word}}">
                    <figcaption>{{word}}</figcaption>
                </figure>
                <div class="button-div">
                    <form action="/user/profile/drawing/{{this._id}}/delete" method="post">
                        <button class="delete-button card-button" title="Delete drawing">
                            <span class="material-icons md-light">delete</span>
                        </button>
                    </form>
                    {{#unless isPublic}}
                    <form action="/user/profile/drawing/{{this._id}}/publish" method="post">
                        <button class="publish-button card-button" title="Publish drawing">
                            <span class="material-icons md-light">publish</span>
                        </button>
                    </form>
                    {{else}}
                    {{/unless}}
                </div>
            </div>
        {{/each}}
    </div>
    
    <script src="/js/profile.js"></script>
    <script src="/js/card-randomizer.js"></script>
</div>